name: CD - Build iOS IPA

on:
  push:
    branches: [ main ]

jobs:
  build-ipa:
    runs-on: macos-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable

     - name: Build App (no signing)
       run: |
         xcodebuild clean build \
         -project "APOD App.xcodeproj" \
         -scheme "APOD App" \
         -sdk iphoneos \
         -configuration Release \
         CODE_SIGN_IDENTITY="" \
         CODE_SIGNING_REQUIRED=NO \
         ONLY_ACTIVE_ARCH=NO

      - name: Package unsigned IPA
        run: |
          mkdir -p build/Payload
          cp -R build/Release-iphoneos/APOD\ App.app build/Payload/
          cd build
          zip -r APOD-App-unsigned.ipa Payload

      - name: Upload IPA Artifact
        uses: actions/upload-artifact@v4
        with:
          name: unsigned-ipa
          path: build/APOD-App-unsigned.ipa
